* {
  box-sizing: border-box;
}

body{
  position: relative;
}
.header{
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 42, 38);
  padding: 0 2vw;
  border: 0.5px solid rgb(87, 87, 87);
  border-radius: 60px;
  width: 90vw;
  margin: 0 auto;
  position: fixed;
  top: 5px;
  left: 4vw;
  z-index: 9999;
}

.header .ul a{
  text-decoration: none;
  color: white;
  transition: .2s ease-in-out;
  margin: 0 20px;
  text-transform: uppercase;

}
.header .ul a:hover, .site-title:hover{
  color: aquamarine;
  
} 

.header button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0;
  display: none;
}
.site-title{
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 255, 255);
  transition: .2s ease-in-out;
}


.close{
  font-size: 20px;
}
.open{
  font-size: 30px;
}



@media screen and (max-width: 1200px) {
  .header button {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .header .ul{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(4, 42, 38);
    transition: 1s ease-in-out;
    transform: translateY(-110vh);
    z-index: 9999;


  }
  .close{
    position: absolute;
    top: 20px;
    right: 35px;
  }

  .open{
    transition: all .5s;

  }


  /* class from useRef */

  .header .responsiveNav{
    transform: unset;
    z-index: 9999;
  }

  .header .responsiveNav ~ .open{
    opacity: 0;
    visibility: hidden
  }

}