* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(89, 118, 113);
}

.nav {
  background-color: rgb(4, 42, 38);
  display: flex;
  align-items: stretch;
  justify-content: space-between; 
  padding: 0 2vw;
}

.nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5vw;
  list-style: none;
}

.nav a {
  text-decoration: none;
  display: flex;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.site-title{
  font-size: 3vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  color: rgb(255, 255, 255);
  text-shadow:  0 0 5px rgb(225, 0, 90);
  transition: .2s ease-in-out;
}

.site-title:hover{
  background-color: rgba(255, 255, 255, 0.249);
}


ul a{
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 1.5vw;
  text-shadow:  0 0 5px rgb(227, 193, 227);
  transition: .2s ease-in-out;
}

ul a:hover{
  background-color: rgba(255, 255, 255, 0.249);

}